@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cook-color: #264653;
  --cook-light-color: #2A9D8F;
  --cook-yellow-color: #E9C46A;
  --cook-orange-color: #F4A261;
  --cook-red-color: #E76F51;
  --cook-hover-color: #264653;
  --bs-cook-rgb: 204, 142, 100;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon-btn {
  --bs-text-opacity: 1;
    color: var(--cook-color) !important;
}

.dark-hover:hover{
  --bs-text-opacity: 1;
   color: #212529 !important;
}

.arrow-btn {
  --bs-text-opacity: 1;
    color: var(--cook-color) !important;
}

danger-hover:hover{
  --bs-text-opacity: 1;
    color: #dc3545 !important;
}

.clickable {
  cursor: pointer;
}